/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

.google-sans-<uniquifier> {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}
body{
     margin: 0;
    height: 100%;
   background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
   font-family: "Google Sans", sans-serif;
}
html { height: 100%; }

.container {
  padding: 15px;
}

button {
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    padding: 30px;
  }
}
.custom-dialog .mat-mdc-dialog-container {
  backdrop-filter: blur(10px);
}

.cdk-overlay-backdrop {
  backdrop-filter: blur(6px);
  background: rgba(0,0,0,0.4);
}
